    <%= cond do %>
    <% @match_making_view == :intro_view -> %>
        <%= render "match_intro.html", assigns %>
    <% @match_making_view == :match_making_avatars_view -> %>
        <%= render "match_making_avatars.html", assigns %>
    <% end %>>
