<ul ids="msgs">
  <%= for msg <- @messages do %>
    <li>
      <strong>
        <%= msg.username %> :
      </strong>
      <%= msg.content %>
    </li>
  <% end %>
</ul>

<%= render "form.html", assigns %>
